body {

    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    align-items: center;
    justify-content: center;


}

* {
    font-family: inherit;
    font-optical-sizing: inherit;
    font-style: inherit;
}

.blue-txt {
    color: #00b4d8;
}

.white-txt {
    color: white;
}

.dark-bckgrnd {
    background-color: #253237;
}





.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    margin: auto;

}

.content {
    border-radius: 20px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: 2px solid white;
    padding: 50px 30px;
    margin-bottom: 40px;
}

.title1 {
    font-weight: 500;

}

.inputs {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;
    width: 100%;

}

input {
    /* background-color: #24353F; */
    background-color: #3a4a50;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    /* outline: 2px solid white; */
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    padding-left: 2rem;
    margin-bottom: 1rem;
    caret-color: white;
    color: white;

}

input:focus {
    /* outline: 4px solid white; */
    outline: 2px solid #00b4d8;
}

input::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: #A9ACA3;
}


.buttons {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    width: 100%;

}

.buttons button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 7px;
    background-color: #253237;
    color: #00b4d8;
    border: 2px solid #00b4d8;
    font-weight: 400 !important;
    font-size: 18px !important;
}

.sign {
    width: 100%;
}



button:active {
    transform: scale(0.9);
}

.loginOrSignup {
    padding-top: 30px;
    display: flex;

}

.loginOrSignup h6 {
    padding-right: 1rem;
}

@media (max-width: 768px) {
    .loginOrSignup {
        display: flex;
        flex-direction: column;

    }
}



.input-error-message {
    color: #ff4444;
    font-size: 16px !important;
    margin-bottom: 5px;
    margin-top: 0;
    display: none;
    text-align: left ;

}

.input-error {
    outline: 2px solid #9c474a !important;
}

